* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #000;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
